@import 'bootstrap/dist/css/bootstrap';

// body {
//   padding-top: 8px;
//   background: #e1e1e1;
//   color: #64103F;
// }

.card-danger {
  background-color: #ffe9ec;
  color: maroon;
}

#error_explanation {
 background-color: #f2dede;
 color: #a94442;
 text-align: left;
 padding: 5px 20px;
 margin-bottom: 30px;
}

#error_explanation h2 {
 font-size: 150%;
}
